extend layout
block navbar
  ul.nav.navbar-nav
    li.active
      a(href='/') HOME
block content
  //
    *****************************************************************************************************************
    HEADERWRAP
    *****************************************************************************************************************
  #headerwrap
    .container
      .row
        .col-lg-8.col-lg-offset-2
          h1 All's Well, Captain.
          h5 Everything appears to be running smoothly.
      // /row
    // /container
  // /headerwrap
  
